<!doctype html>
<html ng-app="anitaApp">
  <head>
    <meta charset="utf-8">
    <title>Anita Fontaine</title>
    
    <%= stylesheet_link_tag "styles" %>
  </head>
  
  <body class="<%= page_classes %>" ng-controller="MainController">
    <%= yield %>
  </body>

  <script src="javascripts/app.js" type="text/javascript"></script>

</html>